<li class="vcard person">
  <%- if n_messages > 1 -%>
    <a name="<%= message_anchor(full_message) %>"></a>
  <%- end -%>
  <div class="profile-image">
  <%= image_link full_message.sender, :class => "photo",
                                      :image => :thumbnail %>
  </div>
  <%= display full_message.content %>
  <div class="meta tools">
    <ul>
      <li><%= link_to image_tag("icons/email_edit.png", :class => 'actioner', :alt => "Reply to this message"), 
                reply_person_message_path(current_person, @message),
                :title => "Reply to this message" %></li>
    <% unless @message.trashed?(current_person) -%>
      <li><%= link_to image_tag("icons/email_delete.png", :class => 'actioner', :alt => "Delete this message"), 
                  person_message_path(current_person, @message),
                  :method => :delete, 
                  :confirm => %(Delete this message?),
                  :title => "Delete this message" %></li>
    <% else -%>
      <li><%= link_to "Untrash", undestroy_person_message_path(current_person, @message), 
                             :method => :put %></li>
    <% end -%>
    </ul>
  </div>
</li>