<li class="message <%= cycle('odd', 'even', :name => "message") %>">
  <div class="profile-image">
    <%= image_link message.other_person(current_person),
                   :image => :bounded_icon,
                   :image_options => { :class => "photo" } %>
  </div>
  <dl>
    <dt>Subject:</dt>
    <dd><%= link_to sanitize(message.subject), person_message_path(current_person, message) %></dd>
    <%- if current_person?(message.sender) -%>
      <dt>To:</dt>
      <dd><%= person_link message.recipient, :class => "url fn" %></dd>
    <%- else -%>
      <dt>From:</dt>
      <dd><%= person_link message.sender, :class => "url fn" %></dd>
    <%- end -%>
    <dt>Excerpt:</dt>
    <dd><%= display truncate(message.content, :length => 95, :omission => " &#8230; ") + link_to("Read more &raquo;", person_message_path(current_person, message)) %> <%=  %></dd>
  </dl>

    <%# message_icon(message) %>

  <div class="tools meta">
    <div>Sent <%= time_ago_in_words message.created_at %> ago</div>
    <%= link_to image_tag("famfamfam/email_open.png", :class => 'actioner'), person_message_path(current_person, message), :title => "Read this message" %>
    <%= link_to image_tag("icons/email_edit.png", :class => 'actioner'), 
                reply_person_message_path(current_person, message),
                :title => "Reply to this message" %>
    <% unless message.trashed?(current_person) -%>
      <%= link_to image_tag("icons/email_delete.png", :class => 'actioner'), 
                  person_message_path(current_person, message), 
                  :method => :delete, 
                  :confirm => %(Delete this message?),
                  :title => "Delete this message" %>
    <% else -%>
      <%= link_to "Untrash", undestroy_person_message_path(current_person, message),
                             :method => :put %>
    <% end -%>    
  </div>
  
  <div class="clear"></div>

</li>