<h2>New message</h2>

<%- @message.subject = 'What was your experience at Panorama Orthopedics like?' if params[:experience] == "true" -%>
<%- column_div :type => :primary do -%>

  <%= error_messages_for :message %>
  
  <%- unless @preview.nil? -%>
    <h3>Message preview</h3>
    <%= display @preview %>
  <%- end -%>
  
  <% form_for(:message, :url => person_messages_path(@recipient)) do |f| %>
    <dl>
      <dt><%= f.label :recipient, "To" %></dt>
      <dd><%= text_field_tag :recipient, h(@recipient.name), :disabled => true, :class => 'w-100' %></dd>
      <dt><%= f.label :message_subject, "Subject" %></dt>
      <dd><%= f.text_field :subject, :id => "message_subject", :class => 'w-80' %></dd>
      <dt><%= f.label :message_body, "Message" %></dt>
      <dd>
        <p><%= formatting_note %></p>
        <%= f.text_area :content, :id => "message_body" %>
        <%- if @message.reply? -%>
          <%= f.hidden_field :parent_id %>
          <%= set_focus_to "message_body" %>
        <%- else -%>
          <%= set_focus_to "message_subject" %>
        <%- end -%>
      </dd>
    </dl>
    <div class="buttons">
      <%= f.submit "Send", :class => "button", :id => "message_submit" %>
      <%= f.submit "Preview", :class => "button", :id => "preview" %>
      <%= link_to "Cancel", messages_url %>
    </div>
  <% end %>
<%- end -%>
