<div id="signin">
  <h2>Sign in</h2>

  <!-- <p class="noscript" style="display:none;">
    <small>
      <span id="openid_link"><a href="#" onclick="show_openid(); return false;">Login using OpenID</a></span>
      <span id="standard_link"><a href="#" onclick="show_standard(); return false;">Back to Regular Login</a></span>
    </small>
  </p> -->

  <% form_tag session_path do -%>
    <dl>
      <dt class="standard"><label for="email">Email address</label></dt>
      <dd class="standard"><%= text_field_tag 'email', params[:email], :maxlength => Person::MAX_EMAIL %></dd>
      <dt class="standard"><label for="password">Password</label></dt>
      <dd class="standard"><%= password_field_tag 'password', params[:password], :maxlength => Person::MAX_PASSWORD %></dd>
      <!-- <dt class="openid"><label for="openid_url">OpenID</label></dt>
      <dd class="openid"><%= text_field_tag "openid_url" %></dd> -->
      <dt class="access"><span class="label">Options</span></dt>
      <dd>
        <fieldset>
          <div>
            <label for="remember_me">
              <%= check_box_tag 'remember_me', '1', true, :class => "checkbox" %>
              Remember me
            </label>
          </div>
        
        </fieldset>
      </dd>
    </dl>
    <div class="buttons"><%= submit_tag 'Sign in', :class => "button" %></div>
    <%= render :partial => "sessions/links" %>
  <% end -%>
  <div class="clear"></div>
</div> <!-- #signin -->

<script type='text/javascript'>
$(document).ready(function() {
  show_openid = function() {
      $('.openid').show();
      $('.standard').hide();
      $('#openid_link').hide();
      $('#standard_link').show();
      createCookie('use_openid', 1, 30);
      $('#openid_url').value = 'http://';
  }
  show_standard = function() {
      $('.openid').hide();
      $('.standard').show();
      $('#openid_link').show();
      $('#standard_link').hide();
      eraseCookie('use_openid');
      $('#openid_url').value = '';
  }
  $('.openid').hide();
  $('#standard_link').hide();
  $('.noscript').show();

  if (readCookie('use_openid')){
      show_openid();
  }

  function createCookie(name,value,days) {
      if (days) {
          var date = new Date();
          date.setTime(date.getTime()+(days*24*60*60*1000));
          var expires = "; expires="+date.toGMTString();
      }
      else var expires = "";
      document.cookie = name+"="+value+expires+"; path=/";
  }

  function readCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for(var i=0;i < ca.length;i++) {
          var c = ca[i];
          while (c.charAt(0)==' ') c = c.substring(1,c.length);
          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
      }
      return null;
  }

  function eraseCookie(name) {
      createCookie(name,"",-1);
  }
})
</script>
