<%= render :partial => 'searches/box' %>

<h2>Discussion topics</h2>
<table class="forum">
  <thead>
    <tr>
      <th scope="col">Topic</th>
      <th scope="col">Author</th>
      <th scope="col">Posts</th>
      <th scope="col">Last Updated</th>
    </tr>
  </thead>
  <tbody>
    <%- @topics.each do |topic| -%>
      <%= render :partial => 'topics/topic', :object => topic %>
    <%- end -%>
  </tbody>
</table>
<%= will_paginate(@topics) %>

<%- if logged_in? -%>
    <h2>New Topic</h2>

    <% form_for :topic, :url => forum_topics_path(@forum) do |f| %>
      <div class="form_row">
        <%= f.label :name, "Subject" %>
        <%= f.text_field :name %>
        <%= f.submit "Start", :class => "button" %>
      </div>
    <% end %>
<%- end -%>
