<h2>Edit Your Profile</h2>

<div id="profile_edit">
  <%= error_messages_for :person %>
  <% form_for @person do |f| %>
  
    <dl>
      <dt><%= f.label :name %></dt>
      <dd><%= f.text_field :name, :maxlength => Person::MAX_NAME %></dd>
      <dt><%= f.label :email %></dt>
      <dd><%= f.text_field :email, :maxlength => Person::MAX_EMAIL %></dd>
      <dt><%= f.label :description, "Public description" %></dt>
      <dd>
        <p class="meta">This is what other users of the system see as your 
          description.</p>
          <p><%= formatting_note %></p>
          <%= f.text_area :description  %>
      </dd>
    </dl>
    
    <%- if global_prefs.email_notifications? -%>
      <h3 id="email_prefs">Email Notification Preferences</h3>

      <p class="meta">Get emails when these events occur</p>
      
      <dl>
        <dt><%= f.label :connection_notifications, 'Connections', :class => "checkbox" %></dt>
        <dd><%= f.check_box :connection_notifications, {}, 'true', 'false' %></dd>
        <dt><%= f.label :message_notifications, 'Messages', :class => "checkbox" %></dt>
        <dd><%= f.check_box :message_notifications, {}, 'true', 'false' %></dd>
        <dt><%= f.label :wall_comment_notifications, 'Wall Comments', :class => "checkbox" %></dt>
        <dd><%= f.check_box :wall_comment_notifications, {}, 'true', 'false' %></dd>
        <dt><%= f.label :blog_comment_notifications, 'Blog Comments', :class => "checkbox" %></dt>
        <dd><%= f.check_box :blog_comment_notifications, {}, 'true', 'false' %></dd>
      </dl>
    <%- end -%>


    <div class="buttons">
      <%= f.submit "Update", :class => "button" %>
      <%= link_to "Cancel", @person %>
      <input type="hidden" name="type" value="info_edit" />
    </div>
<% end %>
</div>

<h2>Change Your Password</h2>

<% form_for @person, :html => { :id => "change_password" } do |f| %>
  <dl>
    <dt><%= label :person, :verify_password, "Current Password" %></dt>
    <dd><%= f.password_field :verify_password, :size => 34, :maxlength => Person::MAX_PASSWORD %></dd>
    <dt><%= label :person, :new_password %></dt>
    <dd><%= f.password_field :new_password, :size => 34, :maxlength => Person::MAX_PASSWORD %></dd>
    <dt><%= label :person, :password_confirmation, "Confirm Password" %></dt>
    <dd><%= f.password_field :password_confirmation,  :size => 34, :maxlength => Person::MAX_PASSWORD, :value => "" %></dd>
  </dl>

  <div class="buttons">
    <%= submit_tag 'Change password', :class => "button" %>
    <input type="hidden" name="type" value="password_edit" />
  </div>
<% end %>
