<%- if global_prefs.app_name.blank? -%>
<h2>Sign up</h2>
<%- else -%>
<h2>Sign up for <%= global_prefs.app_name %></h2>
<%- end -%>

<%= error_messages_for :person %>

<% form_for @person do |f| -%>

  <dl>
    <dt><%= f.label :email, "Email" %> <small>(never made public<%= ", will be verified" if global_prefs.email_verifications? %>)</small></dt>
    <dd>
      <%= f.text_field :email, :maxlength => Person::MAX_EMAIL %>
      <%= set_focus_to "person_email" %>  
    </dd>
    <dt><%= f.label :name, "Name" %> <small>(will be displayed)</small></dt>
    <dd><%= f.text_field :name, :maxlength => Person::MAX_NAME %></dd>
    <dt><%= f.label :password, "Password" %></dt>
    <dd><%= f.password_field :password, :maxlength => Person::MAX_PASSWORD %></dd>
    <dt><%= f.label :password_confirmation, "Confirm Password" %></dt>
    <dd><%= f.password_field :password_confirmation, :maxlength => Person::MAX_PASSWORD, :value => "" %></dd>
  </dl>
  <div class="buttons">
    <%= submit_tag 'Sign up', :class => "button" %>
  </div>
<% end %>
