<h2 class="entry-title"><%= h @topic.name %></h2>
<table class="forum">
  <thead>
    <tr>
      <th scope="col">Comment</th>
      <th scope="col">Posted</th>
    </tr>
  </thead>
  <tbody>
    <%- @posts.each do |post| -%>
      <tr id="post_<%= post.id %>" class="<%= cycle('odd', 'even', :name => "topic_rows") %>">
        <td><%= display post.body %></td>
        <td class="meta">
          <div><%= time_ago_in_words(post.created_at) %> ago</div>
          by
          <div class="author"><%= link_to h(post.person.name), person_path(post.person) %></div>
          <div><%= image_link post.person, :image => :bounded_icon %></div>
        </td>
      </tr>
    <%- end -%>
  </tbody>
</table>

<%- if logged_in? -%>
  <h2>Add Reply</h2>

  <p><%= formatting_note %></p>

  <%= error_messages_for :post %>

  <% form_for :post,
              :url => forum_topic_posts_path(@forum, @topic)  do |f| %>
    <div class="form_row">
      <%= f.text_area :body, :rows => 10, :cols => 30 %>
    </div>

    <div class="form_row">
      <%= f.submit "Submit", :class => "button" %>
    </div>
  <% end %>
<%- end -%>