<h2 class="entry-title">
  <%= h @topic.name %>
</h2>
<%- unless @posts.blank? -%>
  <ul class="forum">
    <%- @posts.each do |post| -%>
      <li id="post_<%= post.id %>">
        <div class="post forum_post <%= cycle('odd', 'even', :name => "topic_post") %> <%= post.status.downcase.gsub(/ /, '_') %>">
          <div class="post_body"><%= display post.body %></div>
          <div class="meta">
            Posted <%= time_ago_in_words(post.created_at) %> ago by <%= link_to h(post.person.name), person_path(post.person) %>
            <div class="actions">
              <%= link_to image_tag("famfamfam/page_edit.png", :size => '16x16', :alt => "Edit", :title => "Edit"), edit_forum_topic_post_path(@topic.forum, @topic, post) if logged_in? && current_person == post.person %>
              <%= link_to image_tag("famfamfam/page_delete.png", :size => '16x16', :alt => "Delete", :title => "Delete"), forum_topic_post_path(@topic.forum, @topic, post), :method => :delete, :confirm => "Delete this post?" if logged_in? && current_person == post.person %>
              
            </div>
          </div>
          
          <%- if logged_in? and current_person.admin? -%>
            <div class="blog_admin">
              <h3>Admin</h3>
              <%= render :partial => 'admin/posts/actions', :locals => {:object => post} %>
              <div class="clear"></div>
            </div>
          <%- end -%>
          
          <%- if logged_in? && (current_person == post.person || current_person.admin?) -%>
            <div class="status <%= post.status.downcase.gsub(/ /, '_') %>">
              <%= post.status %>
            </div>
          <%- end -%>
          
        </div>
      </li>
    <%- end -%>
  </ul>
<%- end -%>

<%- if logged_in? -%>
  <h2>Add Post</h2>

  <p><%= formatting_note %></p>

  <%= error_messages_for :post %>

  <% form_for :post,
              :url => forum_topic_posts_path(@forum, @topic)  do |f| %>
    <div class="form_row">
      <%= f.text_area :body, :rows => 10, :cols => 30 %>
    </div>

    <div class="form_row">
      <%= f.submit "Submit", :class => "button" %>
    </div>
  <% end %>
<%- else -%>
  <p>Want to join in the conversation? Just <%= link_to "login", new_session_path %> or <%= link_to "join our site", signup_path %>.</p>
<%- end -%>