<div id="welcome">
  <h2>Welcome, <%= link_to h(current_person.first_name), person_path(current_person) %>!</h2>
  <p>
    <%= link_to "Sign out", logout_path %>
    <%- if current_person.admin? -%>
      |
      <%- if admin_view? -%>
        <%= link_to("Standard view", home_path) %>
      <%- else -%>
        <%= link_to("Admin view", admin_preferences_path) %>
      <%- end -%>
    <%- end -%>
  </p>
  
  <%# TODO : P : Add an user image here, and test why it fails  %>
  <ul class="user_meta">
    <li class="icon calendar">Member since <%= current_person.created_at.to_date.to_formatted_s(:long_ordinal) %></li>
    <li class="icon posts"><%= link_to pluralize(current_person.blog.posts.length, "blog post"), person_blog_path(current_person, current_person.blog) %></li>
    <%# FIXME : NOT sure if forum_posts shows the correct thing %>
    <li class="icon comments"><%= pluralize(current_person.forum_posts.length, "forum post") %></li>
    <li class="icon photos"><%= link_to pluralize(current_person.photos.length, "photo"), person_galleries_path(current_person) %></li>
    <li class="icon group"><%= link_to pluralize(current_person.contacts.length, "friend"), person_connections_path(current_person) %></li>
  </ul>
  <div class="clear"></div>
</div> <!-- #welcome -->


<%= render :partial => "shared/requested_contacts" %>