<li class="<%= cycle('first', '', :name => "photos") %>">
  <a href="#gpu<%= photo_id(photo) %>" rel="facebox" class="block_link">
    <%= image_tag(photo.public_filename(:thumbnail)) %>
    <%= photo.label %>
  </a>
    
  <%- if current_person?(photo.person) -%>
    <div class='links'>
      <%= link_to image_tag("icons/picture_edit.png", :class => 'actioner icon'), edit_photo_path(photo), :title => "Edit photo" %>
      <%= link_to image_tag("icons/picture_delete.png", :class => 'actioner icon'), photo_path(photo), :method => :delete, :confirm => 'Really delete this photo?', :title => 'Delete photo' %>
      <%= link_to image_tag("default_thumbnail.png", :class => 'actioner icon', :style => 'height: 16px;'), set_avatar_photo_path(photo), :method => :put, :title => 'Select as your profile photo' %>
      <%= link_to image_tag("icons/photo.png", :class => 'actioner icon', :style => 'height: 16px;'), set_primary_photo_path(photo), :method => :put, :title => 'Select as gallery thumbnail' %>
    </div>
  <%- end -%>

  <div style="display: none;" id="gpu<%= photo_id(photo) -%>">
    <%= image_tag photo.public_filename, :width => photo.width, :height => photo.height, :class => "large_photo" %> 
    <div class="gpuTitle">
      <%= photo.label %>
      <%- unless current_person?(photo.person) -%>
        <div><%= link_to "View #{h(photo.person.first_name)}'s photo galleries", person_galleries_path(photo.person) %></div>
      <%- end -%>
    </div>
  </div>

</li>