<h1>Global Preferences</h1>

<dl class="pref_list">
  <dt>Application name</dt>
  <dd><%= h @preferences.app_name %></dd>
  <dt>Email domain</dt>
  <dd><%=h @preferences.domain %></dd>
  <dt>Server name</dt>
  <dd><%=h @preferences.server_name %></dd>
  <dt>Smtp server</dt>
  <dd><%=h @preferences.smtp_server %></dd>
  <dt>Email notifications</dt>
  <dd><%=h @preferences.email_notifications %></dd>
  <dt>Email verifications</dt>
  <dd><%=h @preferences.email_verifications %></dd>
  <dt>Demo site</dt>
  <dd><%=h @preferences.demo %></dd>
  <dt>Whitelist</dt>
  <dd><%=h @preferences.whitelist %></dd>
  <dt>About text (nonblank text will lead to an 'about' link)</dt>
  <dd>
    <div class="prefAbout"><%= display @preferences.about %></div>
  </dd>
  <dt>Analytics (will be inserted just before the <%= h("</body>") %> tag)</dt>
  <dd>
  <%- unless @preferences.analytics.blank? -%>
    <pre><%=h @preferences.analytics %></pre>
  <%- end -%>
  </dd>
</dl>

<p><%= link_to 'Edit preferences', edit_admin_preference_path(@preferences) %></p>
