<%- column_div :type => :primary do -%>
  <%= error_messages_for :photo %>
  <h2>Update Photo</h2>

  <p><%= image_tag(@display_photo.public_filename(:thumbnail)) %></p>

  <% form_for @photo do |f| -%>
    <dl>
      <dt><%= f.label :title %></dt>
      <dd><%= f.text_field :title %></dd>
    </dl>
    <div class="buttons">
      <%= submit_tag 'Update', :class => 'button' %>
      <%= link_to "Cancel", gallery_path(@photo.gallery) %>
    </div>
  <% end -%>
<% end -%>