<h2>Add a Photo</h2>
<%= error_messages_for :photo %>

<h3>Select New Image</h3>
<% form_for @photo,:url=> {:controller => :photos, :action => :create, :gallery_id => @gallery}, :html => { :multipart => true } do |f| -%>

  <dl>
    <dt><%= f.label :uploaded_data, "Select file" %></dt>
    <dd><%= f.file_field :uploaded_data %></dd>
    <dt><%= f.label :title %></dt>
    <dd><%= f.text_field :title %></dd>
  </dl>
  
  <div class="buttons">
    <%= submit_tag 'Upload', :class => 'button' %>
    <%= link_to 'Cancel', @gallery, :class => "button", :id => "cancel" %>
  </div>
<% end -%>