<h1>
<%= link_to "Blog for #{h @blog.person.name}", blog_tab_path(@blog) %>
</h1>

<%= render :partial => 'posts/blog_post', :object => @post %>

<div class="hr"></div>

<%- unless @post.comments.empty? -%>
<h3 id="comments">Comments</h3>
  <ul class="list comments full">
    <%= render :partial => 'comment', :collection => @post.comments %>
  </ul>
<%- end -%>

<div class="hr"></div>

<%- if logged_in? -%>
  <h4>Leave a comment</h4>

  <p><%= formatting_note %></p>

  <% form_for :comment, :url => blog_post_comments_path(@blog, @post),
                        :html => { :id => "blogcomment" } do |f| %>
    <div class="form_row">
      <%= f.text_area :body, :rows => 10 %>
    </div>

    <div class="form_row">
      <%= submit_tag "Submit", :class => "button" %>
    </div>
  <% end %>

<%- end -%>
