<h1>
<%= link_to "Blog for #{h @blog.person.name}", person_blog_path(@blog.person, @blog) %>
</h1>

<%= render :partial => 'posts/blog_post', :object => @post %>

<div class="hr"></div>

<%- unless @post.comments.all.empty? -%>
<h3 id="comments">Comments</h3>
  <ul class="list comments full">
    <%= render :partial => 'comment', :collection => @post.comments.all %>
  </ul>
  <div class="hr"></div>
<%- end -%>


<%- if logged_in? -%>

  <% form_for :comment, :url => person_blog_post_comments_path(@blog.person, @blog, @post), :html => { :id => "blogcomment" } do |f| %>
    <h4><%= f.label :body, "Leave a comment" %></h4>
    <dl>
      <dt class="access"><%= f.label :body, "Leave a comment" %></dt>
      <dd>
        <p><%= formatting_note %></p>
        <%= f.text_area :body %>
      </dd>
    </dl>
    <div class="buttons">
      <%= submit_tag "Submit", :class => "button" %>
    </div>
  <% end %>

<%- end -%>
