<%= render :partial => "shared/profile_nav" %>
<div id="photos">
  <h2>Photos in <%= h(@gallery.title) %> Gallery</h2>
    <% unless @gallery.description.nil? %>
    <div class="gallery-description">
      <%- unless @gallery.description.blank? -%>
      <p><strong>Description:</strong> <%= @gallery.description %></p>
      <%- end -%>
    </div>
    <% end %>
  
    <p>
      <%= link_to "&laquo; All galleries", person_galleries_path(@gallery.person) %>
      <% if current_person?(@gallery.person)%>
        | <%= link_to "Add photo", new_person_gallery_photo_path(current_person, @gallery) %>
        | <%= link_to "Edit gallery", edit_person_gallery_path(current_person) %>
      <% end %>
    </p>
  
    <%- if @photos.empty? -%>
    <h3>No photos (yet)
    <%- else -%>
      <ul class="grid photos">
        <%= render :partial=>"shared/photo", :collection => @photos %>
      </ul>
      <%= will_paginate(@photos) %>
    <%- end -%>
</div>