<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	
<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="en-us" />
		<title>
		  <%= page_title %>Panorama Orthopedics &amp; Spine Center
		</title>
    <% if @forum %>
      <%= auto_discovery_link_tag(:atom, :action => :show, :format => :atom, 
      :id => @forum.id ) %>
    <% elsif @feed %>
      <%= auto_discovery_link_tag(:atom, :action => :index, 
      :format => :atom ) %>
    <% end %>
		<meta name="keywords" content="Panorama Orthopedics &amp;Spine Center, Golden, Colorado, Orthopedic Surgeons, Denver, Orthopedic Specialists, Shoulder, hip, knee, replacement, resurfacing, reconstruction, arthritis, orthopaedic, arthroscopy, bones, bone, joints, hip joint, knee joint, knock knees, flat foot, flat feet, osteotomy, osteotomies, scoliosis, fractures, herniated disc, back pain, spine, orthopedic trauma, carpal tunnel, elbow, finger, hand, ankle, foot, sports injuries, broken tibia, reconstructive surgery, knee reconstruction, foot and ankle" />
		<meta name="description" content="Panorama Orthopedics &amp;Spine Center is a group of orthopedic surgeons specializing in sports medicine, spine, joint, foot &amp;ankle, hand and trauma. " />
		<meta name="robots" content="index,follow" />
    <%= stylesheet_link_tag "reset-min", "base-min", "reset-fonts", "layout", "content", "jquery-flora.tabs.css", "jquery.tooltip.css", "facebox.css", "calendar/blue/style", :cache => "all" %>
    <!--[if lte IE 6]>
      <%= stylesheet_link_tag "ie-pre-7.css" %>
    <![endif]-->
    <!--[if IE 7]>
      <%= stylesheet_link_tag "ie7" %>
    <![endif]-->

    <script type="text/javascript" charset="utf-8">
      var tinyMCE_images_path = "<%= params[:controller] =~ /^(photos|galleries)$/ ? '' : "#{person_photos_path(current_person)}.js" %>";
      var tinyMCE_media_buttons = "<%= params[:controller] =~ /^(photos|galleries)$/ ? '' : ",image,media" %>";
    </script>
    
    <%= javascript_include_tag "jquery.js", "jquery-ui.js", "jquery-fx.js", "jrails.js", "jquery.collection-min.js", :cache => "all" %>
    <%= javascript_include_tag "jquery.bgiframe.js", "jquery.tooltip.pack.js", "jquery.livequery.js", "facebox.js", "application.js", "tiny_mce/tiny_mce.js", "tiny_mce/setup.js" %>
    
  </head>
  <body class="<%= @body %>">
    
    <script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US" type="text/javascript"></script><script type="text/javascript">FB.init("8a40d963c925ccda91c5d84902a1fdbe");</script>
    <!-- <script type="text/javascript">
    function callPublish(msg, attachment, action_link) {
      FB.ensureInit(function () {
        FB.Connect.streamPublish('', attachment, action_link);
      });
    }</script> -->
     
    <div id="wrapper">
    
      <div id="header">
        <h1>
    			<a href="http://www.panoramaortho.com/index.html"><span>Panorama Orthopedics and Spine Center</span></a>
    		</h1>
    	</div> <!-- #header -->
    	
  		<div id="body">
    		<div id="inner">
    		  <div id="rightcol">
    			  <div id="rightcol-inner">
              <ul id="mainnav">
                <li class="first"><a href="http://www.panoramaortho.com/about-panorama">About Us</a></li>
                <li><a href="http://www.panoramaortho.com/physicians">Physicians</a></li>
                <li><a href="http://www.panoramaortho.com/patient-resources">Patient Resources</a></li>
                <li class="first"><a href="http://www.panoramaortho.com/locations">Locations</a></li>
                <li><a href="/">Blog</a>
                  <ul id="subnav">
                    <%- menu.each do |link| -%>
                      <%= menu_li link %>
                    <%- end -%>
                    <li>
                      <%= render :partial => "searches/subnav_search" %>
                    </li>
                  </ul>
                </li>
              </ul>
              <%= render :partial => "shared/breadcrumbs" %>
              
              <div id="content">
                
                <%- if global_prefs.demo? -%>
                  <p class="error" style="font-weight: bold;">
                    This is a demonstration site. 
                    Data may be modified or removed without warning.
                  </p>
                <%- end -%>
                <% flash.each do |key, msg| %>
                  <%= content_tag :p, msg, :class => "flash #{key}" %>
                <% end %>     
                
                <%= yield %>
       				  <div class="clear">&nbsp;</div>
       				  
       				  <div id="disclaimer">
                  <p>The information on this site is purely informational and may not pertain to your specific ailment. <strong>It should not be taken in lieu of a doctor's advice!</strong></p>
                </div>

              </div> <!-- #content -->
    		    </div> <!-- #rightcol-inner -->
    		  </div> <!-- #rightcol -->
    		  <div id="sidebar">
    		    <div id="sidebar-inner">
    		      
    		      <%- if logged_in? -%>
    		        <%= render :partial => "shared/logged_in" %>
              <%- else -%>
                <%- if params[:controller] != 'sessions' -%>
                  <%= render :partial => "sessions/form" %>
                <%- end -%>
              <%- end -%>              

            <%- unless logged_in? and admin_view? -%>
              <%= render :partial => "shared/recent_posts" %>
              <%= render :partial => "shared/recent_photos", :object => @photos %>
              <%= render :partial => "shared/past_patients" %>
            <%- end -%>

    	      </div> <!-- #sidebar-inner -->
    			</div> <!-- #sidebar -->
    			
    		</div>
    		<div class="clear">&nbsp;</div>
    		<%= render :partial => "shared/footer" %>
    	</div>
    </div>
    
    <%= render :partial => 'shared/debug' if development? %>
    <%= global_prefs.analytics %>

  </body>
</html>