<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	
<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="en-us" />
		<title>Blog : Panorama Orthopedics &amp; Spine Center</title>
    <% if @forum %>
      <%= auto_discovery_link_tag(:atom, :action => :show, :format => :atom, 
      :id => @forum.id ) %>
    <% elsif @feed %>
      <%= auto_discovery_link_tag(:atom, :action => :index, 
      :format => :atom ) %>
    <% end %>
		<meta name="keywords" content="Panorama Orthopedics &amp;Spine Center, Golden, Colorado, Orthopedic Surgeons, Denver, Orthopedic Specialists, Shoulder, hip, knee, replacement, resurfacing, reconstruction, arthritis, orthopaedic, arthroscopy, bones, bone, joints, hip joint, knee joint, knock knees, flat foot, flat feet, osteotomy, osteotomies, scoliosis, fractures, herniated disc, back pain, spine, orthopedic trauma, carpal tunnel, elbow, finger, hand, ankle, foot, sports injuries, broken tibia, reconstructive surgery, knee reconstruction, foot and ankle" />
		<meta name="description" content="Panorama Orthopedics &amp;Spine Center is a group of orthopedic surgeons specializing in sports medicine, spine, joint, foot &amp;ankle, hand and trauma. " />
		<meta name="robots" content="index,follow" />
    <%= stylesheet_link_tag "reset-min", "base-min", "reset-fonts", "layout", "content" %>
    <!--[if lte IE 6]>
      <%= stylesheet_link_tag "ie-pre-7.css" %>
    <![endif]-->
    <!--[if IE 7]>
      <%= stylesheet_link_tag "ie7" %>
    <![endif]-->
    
    <link rel="shortcut icon" href="favicon.ico" />
    <%# stylesheet_link_tag "default" %>
    <%= stylesheet_link_tag "jquery-flora.tabs.css", "jquery.tooltip.css", 
                            "facebox.css" %>
    <%= javascript_include_tag "jquery.js", "jquery-ui.js", "jquery-fx.js", 
                               "jrails.js" %>
    <%= javascript_include_tag "jquery.collection-min.js", 
                               "jquery.bgiframe.js", "jquery.tooltip.pack.js",
                               "jquery.livequery.js",
                               "facebox.js", "application.js" %>
    <%= stylesheet_link_tag 'calendar/blue/style' %>


    <%= javascript_include_tag "tiny_mce/tiny_mce.js" %>
    <script type="text/javascript">
    	tinyMCE.init({
    		// General options
    		mode : "textareas",
    		theme : "advanced",
    		relative_urls : false,
    		valid_elements : "@[id|class|style|title]|"
        + "a[rel|rev|charset|hreflang|tabindex|accesskey|type|"
        + "name|href|target|title|class],strong/b,em/i,strike,u,"
        + "#p[align],-ol[type|compact],-ul[type|compact],-li,br,img[longdesc|usemap|"
        + "src|border|alt=|title|hspace|vspace|width|height|align],-sub,-sup,"
        + "-blockquote,-table[border=0|cellspacing|cellpadding|width|frame|rules|"
        + "height|align|summary|bgcolor|background|bordercolor],-tr[rowspan|width|"
        + "height|align|valign|bgcolor|background|bordercolor],tbody,thead,tfoot,"
        + "#td[colspan|rowspan|width|height|align|valign|bgcolor|background|bordercolor"
        + "|scope],#th[colspan|rowspan|width|height|align|valign|scope],caption,-div,"
        + "-span,-code,-pre,address,-h1,-h2,-h3,-h4,-h5,-h6,hr[size|noshade],-font[face"
        + "|size|color],dd,dl,dt,cite,abbr,acronym,del[datetime|cite],ins[datetime|cite],"
        + "object[classid|width|height|codebase|*],param[name|value|_value],embed[type|width"
        + "|height|src|*],script[src|type],map[name],area[shape|coords|href|alt|target],bdo,"
        + "button,col[align|char|charoff|span|valign|width],colgroup[align|char|charoff|span|"
        + "valign|width],dfn,fieldset,form[action|accept|accept-charset|enctype|method],"
        + "input[accept|alt|checked|disabled|maxlength|name|readonly|size|src|type|value],"
        + "kbd,label[for],legend,noscript,optgroup[label|disabled],option[disabled|label|selected|value],"
        + "q[cite],samp,select[disabled|multiple|name|size],small,"
        + "textarea[cols|rows|disabled|name|readonly],tt,var,big",
    		plugins : "safari,style,advimage,emotions,iespell,inlinepopups,preview,media,searchreplace,contextmenu,paste,fullscreen,noneditable,visualchars,xhtmlxtras",

    		// Theme options
    		theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,bullist,numlist,|,outdent,indent,blockquote,|,sub,sup",
    		theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,undo,redo,|,link,unlink,image,media,emotions,charmap,iespell,code,|,preview",
    		theme_advanced_buttons3 : "",
    		theme_advanced_toolbar_location : "top",
    		theme_advanced_toolbar_align : "left",
    		theme_advanced_statusbar_location : "bottom",
    		theme_advanced_resizing : true,

    		// Example content CSS (should be your site CSS)
    		content_css : "/stylesheets/tiny_mce.css",

        // ,

        // // Drop lists for link/image/media/template dialogs
        // template_external_list_url : "lists/template_list.js",
        // external_link_list_url : "lists/link_list.js",
        external_image_list_url : "<%= person_photos_path(current_person) %>.js"
          // "/photos/show.js"
        // ,
        // media_external_list_url : "lists/media_list.js",

    	});  
    </script>
    
  </head>
  <body class="<%= @body %>">
    
    <div id="wrapper">
    
      <div id="header">
        <h1>
    			<a href="http://www.panoramaortho.com/index.html"><span>Panorama Orthopedics and Spine Center</span></a>
    		</h1>
    	</div> <!-- #header -->
    	
  		<div id="body">
    		<div id="inner">
    		  <div id="rightcol">
    			  <div id="rightcol-inner">
              <ul id="mainnav">
                <li class="first"><a href="">About Panorama</a></li>
                <li><a href="">Physicians</a></li>
                <li><a href="">Resources</a></li>
                <li class="first"><a href="">Locations</a></li>
                <li><a href="">Blog</a>
                  <ul id="subnav">
                    <%- menu.each do |link| -%>
                      <%= menu_li link %>
                    <%- end -%>
                    <li>
                      <form action="" id="search">
                        <dl>
                          <dt><label>Search People &#8230;</label></dt>
                          <dd><input type="text" /></dd>
                        </dl>
                        <div class="buttons"><input type="submit" value="Search" /></div>
                      </form>
                    </li>
                  </ul>
                </li>
              </ul>
              <div id="crumbs" class="clear">
                &#187; <a href="">Home</a> &#187; Blog
              </div> <!-- #crumbs -->
              <div id="content">
                
                <%- if global_prefs.demo? -%>
                  <p class="error" style="font-weight: bold;">
                    This is a demonstration site. 
                    Data may be modified or removed without warning.
                  </p>
                <%- end -%>
                <% flash.each do |key, msg| %>
                  <%= content_tag :p, msg, :class => "flash #{key}" %>
                <% end %>     
                
                <%= yield %>
       				  <div class="clear">&nbsp;</div>

              </div> <!-- #content -->
    		    </div> <!-- #rightcol-inner -->
    		  </div> <!-- #rightcol -->
    		  <div id="sidebar">
    		    <div id="sidebar-inner">
    		      
    		      <%- if logged_in? -%>
  		          <div id="welcome">
                  <h2>Welcome, <%= h current_person.first_name %>!</h2>
                  <p><%= link_to "Sign out", logout_path %></p>
                <%- if current_person.admin? -%>
                  <br />
                  <%- if admin_view? -%>
                    <%= link_to("Standard view", home_path) %>
                  <%- else -%>
                    <%= link_to("Admin view", admin_preferences_path) %>
                  <%- end -%>
                <%- end -%>
                </div> <!-- #welcome -->
              <%- else -%>
                <%- if params[:controller] != 'sessions' -%>
                  <%= render :partial => "sessions/form" %>
                <%- end -%>
              <%- end -%>
              
              <%- if logged_in? && @home == '_home' -%>
                <%= render :partial => 'requested_contacts' rescue render :partial => "home/requested_contacts" %>
              <%- end -%>
              

              <%= render :partial => "shared/recent_posts", :object => @blog_posts %>
              <%= render :partial => "shared/recent_photos", :object => @photos %>

    		      <div id="tag_cloud">
    		        <h2>Tags</h2>
    		        <ul>
    		          <li><a href="" class="tag3">Aciliqu</a></li>
    		          <li><a href="" class="tag9">Susciduipit</a></li>
    		          <li><a href="" class="tag2">Teisi sum</a></li>
    		          <li><a href="" class="tag8">Consectetuer</a></li>
    		          <li><a href="" class="tag7">Orci miniat</a></li>
    		          <li><a href="" class="tag1">Doluptat</a></li>
    		          <li><a href="" class="tag4">Eugiat odio</a></li>
    		          <li><a href="" class="tag10">Iolumsan incinim</a></li>
    		          <li><a href="" class="tag5">Ipisl</a></li>
    		          <li><a href="" class="tag6">Aenean</a></li>
    		        </ul>
    		      </div> <!-- #tag_cloud -->

    	      </div> <!-- #sidebar-inner -->
    			</div> <!-- #sidebar -->
    		</div>
    		<div class="clear">&nbsp;</div>
    		<%= render :partial => "shared/footer" %>
    	</div>
    </div>
    
    <%= render :partial => 'shared/debug' if development? %>
    <%= global_prefs.analytics %>

  </body>
</html>